[submodule "vendor/github.com/blang/semver"]
	path = vendor/github.com/blang/semver
	url = https://github.com/blang/semver
[submodule "vendor/gopkg.in/xmlpath.v2"]
	path = vendor/gopkg.in/xmlpath.v2
	url = https://gopkg.in/xmlpath.v2
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/github.com/x-cray/logrus-prefixed-formatter"]
	path = vendor/github.com/x-cray/logrus-prefixed-formatter
	url = https://github.com/x-cray/logrus-prefixed-formatter
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/mgutz/ansi"]
	path = vendor/github.com/mgutz/ansi
	url = https://github.com/mgutz/ansi
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
